body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none!important;
    color: black!important;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-bottom : 1em;
}
.h-left ul{
    margin: 0;
    display: flex;
}
.h-left li{
    padding: 0 1em;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top-only {
    justify-content: right;
}

.top ul {
    padding: 0;
    margin: 0;
}

.top ul li{
    display: flex;
    align-items: center;
}

.top ul li p{
    margin: 0;
}

.top ul li .dot-green{
    border-color: rgb(0, 255, 0);
}

.top ul li .dot-red{
    border-color: rgb(255, 0, 0);
}

#calendar {
    margin: 50px auto;
}

.form {
    display: none;
}

.modal-form {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background-color: rgba(107, 107, 107, 0.4);
    z-index: 100;
}

.modal-inner {
    width: 80%;
    height: 80%;
    margin: 0;
    padding: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

td{
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons .btn {
    width: 33%;
    padding: .5em;
    margin: 0 .5em;
}

.btn-success {
    background-color: #2ad887;
    border: none;
}

.btn-default {
    border: 1px black solid;
}

